
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
     font-family: "Roboto", sans-serif;
}

body{
    display:flex;
    background:#f4f4f4;
}

.menu{
    width:220px;
    height:100vh;
    background:#2e7d32;
    padding:20px;
}

.menu h2{
    color:white;
    margin-bottom:20px;
}

.menu button{
    width:100%;
    margin-bottom:10px;
    padding:10px;
    border:none;
    cursor:pointer;
}

main{
    flex:1;
    padding:30px;
}

input{
    width:100%;
    padding:10px;
    margin:5px 0;
}

button{
    padding:10px;
}

table{
    width:100%;
    margin-top:20px;
    background:white;
}

table th,
table td{
    padding:10px;
    border:1px solid #ddd;
}

.oculto{
    display:none;
}

.perfil {
    text-align: center;
    margin-bottom: 20px;
}

#fotoPerfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3498db;
    cursor: pointer;
}

#uploadFoto {
    display: block;
    margin: 10px auto;
}